p { font-family:helvetica;
  font-size: 15pt;
}

  

h1 {font-family:helvetica-bold;
  font-size: 20pt;

}

h2 {font-family:helvetica;
	font-size: 10pt;

}

article { width:490px;
		  margin:20px;
		  float:left;


}

#llama1 { margin:25px;
		  padding:10px;
		  float: left;
    		margin: 20px 20px; 


}

#llama2 { margin:25px;
		  padding:10px;
		  float: left;
    	margin: 20px 20px; 


}

