p { font-family:helvetica;
	font-size: 15pt;
	float:right;
}

h1 {font-family:helvetica-bold;
	font-size: 20pt;
}

h2 {font-family:helvetica;
	font-size: 10pt;
}

#llama1 { margin:25px;
		  padding:10px;

}

#llama2 { margin:25px;
		  padding:10px;

}

#p1 {

}

