/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */  




body { width: 650px;
		margin: 0 auto;


}


#lemongrass { font-family:english;
             font-size: 20pt;
             text-align: center; 
             margin-top: 20px;}

#summerrolls {font-family:franchise;
              font-size: 95pt;
              text-align: center;}

#servings { font-family:baskerville-light;
            font-size:15pt;
           	text-align: center;}
    
p 		  { font-size:20px;
  	  		text-align: left;
  	  		padding: 20px;}
      
div 	  { text-align: left; }



#ul1 {float:left;
	margin-right: 300px; 
	display:block;
	text-align: left;
	}

}

#ul2 {	margin-right: 90px; 
	text-align: left;
	width: auto;
}
    
    
























/* #lemongrass {
	text-transform:uppercase;
	font-size:2pt;
	font-family:helvetica-bold;
}


#summerrolls {

	text-transform:uppercase;
	font-size:55pt;
	font-family:helvetica-bold;
}


body {
	font-family:helvetica;
}

nav{
	font-style:italic;
	font-size:12px;
}

ol {font-size:12px;}

p {
	font-size:12px;
	padding:10px;
}

#ingredients {
	font-style:italic;
}
