/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, p1, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

p { font-family:Montserrat-bold;
  font-size: 100pt;
}

  

h1 {font-family:Montserrat-bold;
	text-transform: uppercase;
	text-decoration: none;
	color:black;	
  	font-size: 20pt;
	float: left;
	padding-top: 10px;
	padding-right: 15px;
	padding-left: 20px;

}



nav {font-family:montserrat;
	font-size: 10pt;
	background-color: white;
	width:100%;
	text-transform: uppercase;
	text-decoration: none;
	padding-bottom: 20px;
	padding-left: 5px;
	 box-shadow: 0px 0px 5px #888888;
	display:block;
	position:fixed;
	top:0;
	left:0;
	z-index:5;
}

.stuff{
	padding-top: 20px;

}



  a{
  	text-decoration: none;
  	color:black;
  }


  a:hover{
  	text-decoration: none;
  	color:red;
  }





  a:active{
  	text-decoration: none;
  	color:gray;
  }

img {
	padding:10px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
img:hover, img:focus, img:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


.tj{
	margin:0,auto;
	text-align: center;
	position:relative;
	
}

h3 {font-family:montserrat-bold;
	font-size: 55pt;
	color: red;
	padding-top: 100px;
	padding-bottom: 20px;
	margin-left: 40px;
	position:relative;}

h4 {font-family:montserrat;
	font-size: 12pt;
	color: gray;
	margin-right: 50%;
	margin-left: 40px;
	padding-bottom: 205px;
}

h5 {font-family:montserrat;
	font-size: 10pt;
	color: gray;
	margin-right: 50%;
	margin-left: 40px;
}


