h2 {
	
    color: black;
    font-family:georgia;
	width: 700px;
} 

#logo {  padding-bottom:25px;

}

#dogpic {padding-top:25px;}
#catpic {padding-top:25px;}


ol {border-bottom:5px solid black;
	border-top:5px solid black;
	padding-top:5px;
	padding-bottom:5px;

	font-size: 18pt;
	text-transform:uppercase;

    list-style:none;
    margin-top:50px;
    padding:15px;
    float:left;
    width:60px; 
    padding: 25px;


}


}
p{ font-family:georgia; 
}
